:root {
  --primary-color: #cd5d7d;
  --secondary-color: #f6ecf0;
  --tertiary-color: #949cdf;
  --main-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}
body {
  margin: 0 auto;
  font-family: var(--secondary-font-family);
  margin-bottom: 4rem;
}
h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 0;
}
h1 {
  font-size: 90px;
  margin-top: 1rem;
  font-family: var(--main-font-family);
  font-weight: bold;
}
p {
  font-weight: 500;
}
.greeting {
  font-size: 35px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  color: rgb(29, 31, 44);
}
.hero {
  font-size: 24px;
  text-align: center;
  margin-bottom: 4rem;
  font-family: var(--main-font-family);
  font-weight: bold;
}
.heading {
  background-color: var(--secondary-color);
  padding: 10rem 6rem;
}
.contact-link {
  background: var(--primary-color);
  color: white;
  box-shadow: 1px 3px 3px rgb(0, 0, 0, 0.3);
  padding: 15px 35px;
  font-size: 20px;
  font-family: var(--secondary-font-family);
  line-height: 27px;
}
.link {
  text-align: center;
}
.app-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 15px 35px;
  font-size: 20px;
  font-family: var(--secondary-font-family);
  line-height: 27px;
}
.learn-more-link {
  margin-top: 4rem;
}
.app-name {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 2rem;
}
.app-info {
  padding: 4rem;
}
@media (max-width: 579px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  .heading {
    padding: 4rem 2rem;
  }
  .app-image {
    display: none;
  }
  .app-info {
    text-align: center;
  }
  .app-link {
    margin: 0 2rem;
  }
}
